<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EpicalyxGame Reviews</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/x-icon" href="~/images/myphoto.ico" />
    <link rel="stylesheet" href="dark-mode.css">
    <script src="dark-mode-switch.min.js"></script>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EpicalyxGame Reviews</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="Index">Games</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="FinalReviews" asp-action="Index">Final Reviews</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AspectReviews" asp-action="Index">Aspect Reviews</a>
                        </li>
                    </ul>
                    
                      
                     
                     </div>
                     
                    
                    <script>
                       
                    function darkModeFunction() 
                    {
                    var element = document.body;
                    var checkBox = document.getElementById("darkSwitch")
                    
                     if (darkSwitch.checked== true)
                    {
                    element.classList.toggle("dark-mode");
                    
                    }
                       
                   
                     
                   
                     </script>
                   
                    <partial name="_LoginPartial" />
                  <img src="~/images~/images/moon.png" id=icon/>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - EpicalyxGame Reviews - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
    var icon = document.getElementById("icon");

    if (localStorage.getItem("theme") == null)
    {
        localStorage.setItem("theme", "light")
    }
    

    let localData = localStorage.getItem("theme")
    if(localData == "light")
    {
        icon.src = "images/moon.png"
        document.body.classList.remove("dark-mode")
    }
    else if(localData == "dark")
    {
         icon.src = "images/sun.png"
        document.body.classList.add("dark-mode")
    }
    icon.onclick = function(){
        
        document.body.classList.toggle("dark-mode")
        if(document.body.classList.contains("dark-mode"))
        {
            icon.src ="images/sun.png";
             localStorage.setItem("theme", "dark")
        }
        else 
        {
            icon.src = "images/moon.png"
             localStorage.setItem("theme", "light")
        }
       
    }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
