@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Epicalyx</h1>
    <p>Welcome to EpicalyxGame Reviews. This is a review site where actual gamers can review games</p>
</div>
